.zcompdump
zsh_history
emacs/eln-cache
emacs/elpaca
emacs/auto-save-list
emacs/recentf
emacs/sessions
emacs/projectile-bookmarks.eld
emacs/Dockerfiles/eln-cache
emacs/Dockerfiles/elpaca
emacs/Dockerfiles/auto-save-list
emacs/Dockerfiles/emacs_sessions
emacs/#init.el#
emacs/.cache/
emacs/.org-id-locations
emacs/bookmarks
